.header {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 50px;
    height: auto;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    
}

h3 {
    color: orangered;
    background-color: #ffffff;

}

.search {
    margin: 0 auto;
    
}

input {
    width: 400px;
    background-color: whitesmoke;
}

button {
    background-color: orangered;
    color: #ffffff;;

}

button:hover {
    background-color: red;
    color: white;
    
}


@media (max-width: 425px) {
    input {
        width: 100px;
    }
  }
