.header {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: white;
    
}

a {
    background-color: white;
}

h3 {
    color: #2B3595;
    background-color: #ffffff;

}

.search {
    margin: 0 auto;
    
}

input {
    width: 400px;
    background-color: whitesmoke;
}


@media (max-width: 425px) {
    input {
        width: 100px;
    }
  }
