.subredditBox {
    background-color: orangered;
    width: 300px;
    height: 600px;
    margin-top: 3%;
    right: 3%;
    position: absolute;
}

.subreddit-categories {
    color: white;
    text-align: center;
    background-color: orangered;
    padding: 1px;
}

p {
    margin: 15%;
    background-color: orangered;
}