.CreatePost {
    display: flex;
    margin-top: 3%;
    right: 40%;
    position: absolute;

}

textarea {
    resize: none;
    width: 520px;
    height: 100px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font: 1em;
}


.PostButton {
    position: relative;
    top: 65px;
    height: 40px;
    right: 43px;
}

.post-area {
    position: relative;
}

.post-button {
    position: relative;
    right: 43px;
    height: 20px;
    bottom: 5px;
}

.post-button-edit {
    position: absolute;
    right: 0;
    bottom: 5px;
}