.CreatePost {
    display: flex;
    margin-top: 3%;
    right: 40%;
    position: absolute;

}

textarea {
    resize: none;
    width: 500px;
    height: 100px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font: 1em;
}


.PostButton {
    position: relative;
    top: 65px;
    height: 40px;
    right: 43px;
}